<!DOCTYPE html>
<html lang="zxx">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <div class="breadcrumb-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">Certificate Collection</h2>
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Certificates</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-category-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shop-bottom-area">
                        <div class="row">
                            <% if (products.length > 0) { %>
                                <% products.forEach((product, index) => { %>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up"
                                        data-aos-delay="<%= 200 + (index % 4) * 200 %>">
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="/product/<%= product._id %>" class="image">
                                                    <img src="<%= product.image %>" alt="<%= product.product_name %>" style="width: 270px; height: 310px; object-fit: cover;">
                                                    <img class="hover-image" src="<%= product.image %>" alt="<%= product.product_name %>" style="width: 270px; height: 310px; object-fit: cover;">
                                                </a>
                                                <span class="badges">
                                                    <span class="new"><%= product.category %></span>
                                                </span>
                                                <div class="actions">
                                                    <a href="#" class="action wishlist-btn" data-product-id="<%= product._id %>" title="Add to Wishlist">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </div>
                                                <button title="Add To Cart" class="add-to-cart">Add To Cart</button>
                                            </div>
                                            <div class="content">
                                                <span class="ratings">
                                                    <span class="rating-wrap">
                                                        <span class="star" style="width: 100%"></span>
                                                    </span>
                                                    <span class="rating-num">(5 Review)</span>
                                                </span>
                                                <h5 class="title"><a href="/product/<%= product._id %>"><%= product.product_name %></a></h5>
                                                <p class="short-description"><%= product.short_description %></p>
                                                <span class="price"><span class="new">₹  <%= product.rate %></span></span>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p class="text-center">No certificates available.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

</body>

</html>
